<header class="navbar navbar-inverse">
	<div class="container">

		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand"><img src="/images/logo-darkbg.png" width="114" alt=""></a>
		</div>

		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<% if (isLoggedIn) { %>
			<ul class="nav navbar-nav" id="main-nav">
				<li>
					<a href="/supporter" class="<%= typeof activeTab != 'undefined' && activeTab == 'supporters' ? 'active' : '' %>">Supporters</a>
				</li>
				<li>
					<a href="/maintainer" class="<%= typeof activeTab != 'undefined' && activeTab == 'maintainers' ? 'active' : '' %>">Maintainers</a>
				</li>
			</ul>
			<% } %>

			<ul class="nav navbar-nav navbar-right">
				<% if (isLoggedIn) { %>
				<li id="user-avatar" class="<%= loggedUser.projectsUpdater.updating && 'loading' %> <%= loggedUser.projectsUpdater.updated && loggedUser.projectsUpdater.status %>">
					<a href="/users/<%= loggedUser.username %>">
						<%= loggedUser.displayName %>
						<span class="icon-spinner icon-spin loading" data-toggle="tooltip" data-placement="bottom" data-title="We are updating your projects from github right now"></span>
						<span class="icon-exclamation-sign error" data-toggle="tooltip" data-placement="bottom" data-title="Here was error on last projects update, please go to maintainers page and try again"></span>
						<img src="http://www.gravatar.com/avatar/<%= loggedUser.github.gravatar_id %>?s=18" class="gravatar">
					</a>
				</li>
				<li><a href="/logout"><i class="icon-signout"></i></a></li>
				<% } else { %>
				<li><a href="/auth/github">Join Now!</a></li>
				<% } %>
			</ul>
		</nav>

	</div>
</header>