<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%- titleBuilder.render() %></title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <% if (this.isLoggedIn) { %>
    <script type="text/javascript">
        var isLoggedIn = true
        var currentUser = {
            email: '<%= loggedUser.email %>',
            username: '<%= loggedUser.username %>',
            _id: '<%= loggedUser._id %>'
        }
    </script>
    <% } else { %>
    <script type="text/javascript">
        var isLoggedIn
    </script>
    <% } %>
</head>
<body class="<%= typeof bodyClass != 'undefined' ? bodyClass : ''%>">
<div id="wrap">
    <% if (!this.noHead) { %>
    <% include header.ejs %>
    <% } %>
