<% include header.html %>
<div class="well">
	<div class="row">
		<a href="<%= user.github.html_url %>" class="col-1">
			<img src="<%= user.github.avatar_url %>" class="img-rounded" alt="<%= user.displayName %>"/>
		</a>

		<div class="data col-4">
			<p><b>Username:</b> <%= user.username %></p>

			<p><b>Name:</b> <%= user.displayName %></p>

			<p><b>Type:</b> <%= user.github.type %></p>
		</div>

		<a href="/users/<%= user.username %>/editor" class="btn btn-link col-1 col-offset-6" id="save-changes">Edit Projects</a>
	</div>
</div>

<section id="user-repos"></section>
<% include footer.html %>
