<p>
	User
	<a href="<%= serverUrl %>/users/<%= user.username %>"><%= user.username %></a> sent a comment your project:
	<a href="<%= serverUrl %>/projects/<%= project._id %>"><%= project.owner.username %> / <%= project.name %></a>
</p>

<p>
	<%= message %>
</p>