<p>
    You recently wanted to make a donation to&nbsp;<a href="<%= siteUrl %>/projects/<%= project._id %>"><%= project.owner.username %> / <%= project.name %></a> on&nbsp;<a href="<%= siteUrl %>">http://iloveopensource.io</a>
</p>

<p>
    The maintainer of that repo has now set the donation preferences, so now would be a great time to go and make your donation.
</p>

<p>
    Click here:&nbsp;<a href="<%= siteUrl %>/projects/<%= project._id %>"><%= project.owner.username %> / <%= project.name %></a>
</p>
