<p>
	<% if (user) { %>
	User
	<a href="<%= siteUrl %>/users/<%= user.username %>"><%= user.username %></a>
	<% } else { %>
	Anonymous
	<% } %>
	want you to add some donate methods for your project:
	<a href="<%= siteUrl %>/projects/<%= project._id %>"><%= project.owner.username %> / <%= project.name %></a>
</p>
<p>
	<% if (project.owner.user) { %>
	You can do it on this <a href="<%= siteUrl %>/settings">page</a>
	<% } else { %>
	User not registered yet, his <a href="https://github.com/<%= project.owner.username %>">github page</a>
	<% } %>
</p>