<% titleBuilder.add(user.username) %>
<% var isCurrentUser = isLoggedIn && loggedUser._id.toString() == user._id.toString() %>

<% include parts/head.ejs %>

<section id="user-repos" class="container">
	<div class="profile-header">
		<div class="info">
			<a href="<%= user.github.html_url %>" class="avatar">
				<img src="http://www.gravatar.com/avatar/<%= user.github.gravatar_id %>?s=80" alt="" class="img-rounded"/>
			</a>

			<div class="data pull-left">
				<h3><%= user.displayName %></h3>
				<% if (user.displayName != user.username) { %>
				&nbsp;(<%= user.username %>)
				<% } %>
				<% if (isCurrentUser) { %>
				<a href="/settings">Settings</a>
				<% } %>
			</div>
		</div>

		<% if (!isLoggedIn) { %>
		<% var welcomeName = user.username %>
		<% include parts/welcome %>
		<% } %>
	</div>

	<ul class="nav nav-tabs bigger">
		<li class="selected-repos active">
			<a class="tab" href="#personal">
				Supporting
			</a>
		</li>
		<% if (projects.personal.length) { %>
		<li>
			<a class="tab" href="#maintainer">
				Own Projects
			</a>
		</li>
		<% } %>
		<% if (projects.admin.length) { %>
		<li>
			<a class="tab" href="#administrator">
				Organizations
			</a>
		</li>
		<% } %>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="personal">
			<% if (!support.personal.length) { %>
			<% if (isCurrentUser) { %>
			<h4 class="text-center">
				You haven't added any projects yet. Want to add some?
				<a class="btn btn-primary btn-lg" href="/supporter">Sure!</a>
			</h4>
			<% } else { %>
			<h4 class="text-center">This user hasn't added any projects yet.</h4>
			<% } %>
			<% } else { %>
			<div class="repos-list support-inactive">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types"></div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
				<% _.each(support.personal, function(entry) { %>
				<% var project = entry.project %>
				<% project.support = _.omit(entry, 'project') %>
				<% include parts/project-row %>
				<% }) %>
			</div>
			<% } %>
		</div>
		<div class="tab-pane" id="maintainer">
			<div class="repos-list support-inactive">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types"></div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
				<% _.each(projects.personal, function(entry) { %>
				<% var project = entry %>
				<% project.support = {} %>
				<% include parts/project-row %>
				<% }) %>
			</div>
		</div>
		<div class="tab-pane" id="administrator">
			<div class="orgs">
				Administrating projects in:
				<% _.each(orgs, function(org) { %>
				<a href="/orgs/<%= org._id %>"><%= org.name %></a>
				<% }) %>
			</div>
			<div class="repos-list support-inactive">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types"></div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
				<% _.each(projects.admin, function(entry) { %>
				<% var project = entry %>
				<% project.support = {} %>
				<% include parts/project-row %>
				<% }) %>
			</div>
		</div>
	</div>

</section>
<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "<%=jsPath %>"
	})
	require(['modules/account/main'])
</script>

<% include modals/index.ejs %>
<% include parts/foot.ejs %>