<% titleBuilder.add(user.username) %>
<% include header.ejs %>
<section id="user-repos">
	<div class="well">
		<div class="row">
			<a href="<%= user.github.html_url %>" class="col-1">
				<img src="http://www.gravatar.com/avatar/<%= loggedUser.github.gravatar_id %>?s=80" alt="" class="img-rounded"/>
			</a>

			<div class="data col-4">
				<p>
					<%= user.displayName %>
					<% if (user.displayName != user.username) { %>
					&nbsp;(<%= user.username %>)
					<% } %>
				</p>

				<p><b>Type:</b> <%= user.github.type %></p>
			</div>
		</div>
	</div>

	<% if (!supports.length) { %>
	<% if (isCurrentUser) { %>
	<h4 class="text-center">
		You didn't added any projects yet, want to add some?
		<a class="btn btn-primary btn-lg" href="/users/<%= user.username %>/editor">Sure!</a>
	</h4>
	<% } else { %>
	<h4 class="text-center">This user didn't added any projects yet</h4>
	<% } %>
	<% } %>

	<div class="repos-list">
		<% _.each(supports, function(repo) { %>
		<div class="repo <%= repo.project.fork ? 'fork' : '' %>">
			<div class="repo-name">
				<a href="<%= repo.project.url %>" target="_blank"><%= repo.project.name %> / <%= repo.project.name %></a>
			</div>
			<div class="support">
				<span class="support-type donating <%= repo.donating ? 'active' : '' %>" data-type="donating" title="I'm donating"></span>
				<span class="support-type contributing <%= repo.contributing ? 'active' : '' %>" title="I'm contributing"></span>
				<span class="support-type supporting <%= repo.supporting ? 'active' : '' %>" title="I'm supporting in other way"></span>
			</div>
		</div>
		<% }) %>
	</div>
</section>
<% include footer.ejs %>
