<% titleBuilder.add('Organizations') %>
<% titleBuilder.add(org.name) %>

<% include parts/head.ejs %>

<section id="user-repos" class="container">
	<div class="profile-header">
		<div class="info">
			<a href="https://github.com/<%= org.name %>" class="avatar">
				<img src="http://www.gravatar.com/avatar/<%= org.gravatar %>?s=80" alt="" class="img-rounded"/>
			</a>

			<div class="data">
				<h3><%= org.name %></h3>

				<div class="admins">
					Administrators: <% _.each(org.admins, function(user) { %>
					<a href="/users/<%= user.username %>"><%= user.username %></a>
					<% }) %>
				</div>
			</div>
		</div>

		<% if (!isLoggedIn) { %>
		<% var welcomeName = org.name %>
		<% include parts/welcome %>
		<% } %>
	</div>

	<ul class="nav nav-tabs bigger">
		<li class="active">
			<a class="tab" href="#supporting">
				Supporting
			</a>
		</li>
		<% if (projects.length) { %>
		<li>
			<a class="tab" href="#maintaining">
				Maintaining
			</a>
		</li>
		<% } %>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="supporting">
			<% if (!support.length) { %>
			<h4 class="text-center">This organization hasn't added any projects yet.</h4>
			<% } else { %>
			<div class="repos-list support-inactive">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types"></div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
				<% _.each(support, function(entry) { %>
				<% var project = entry.project %>
				<% project.support = _.omit(entry, 'project') %>
				<% include parts/project-row %>
				<% }) %>
			</div>
			<% } %>
		</div>
		<div class="tab-pane" id="maintaining">
			<div class="repos-list support-inactive">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types"></div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
				<% _.each(projects, function(entry) { %>
				<% var project = entry %>
				<% project.support = {} %>
				<% include parts/project-row %>
				<% }) %>
			</div>
		</div>
	</div>

</section>
<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "<%=jsPath %>"
	})
	require(['modules/account/main'])
</script>


<% include modals/index.ejs %>
<% include parts/foot.ejs %>