<% titleBuilder.add('Organizations') %>
<% titleBuilder.add(org.name) %>

<% include parts/head.ejs %>

<div class="container">
	<section id="user-repos">
		<div class="clearfix">
			<a href="https://github.com/<%= org.name %>" class="pull-left">
				<img src="http://www.gravatar.com/avatar/<%= org.gravatar %>?s=80" alt="" class="img-rounded"/>
			</a>

			<div class="data pull-left">
				<h3><%= org.name %></h3>
				<div class="admins">
					Administrators: <% _.each(org.admins, function(user) { %>
					<a href="/user/<%= user.username %>"><%= user.username %></a>
					<% }) %>
				</div>
			</div>

			<% if (!isLoggedIn) { %>
			<div class="welcome pull-right">
				<p>
					These are the Open Source projects that we use in our projects. We hope that other Open Source and commercial projects will add their own “I Love Open Source” page to their site.
				</p>
				<a href="/auth/github" class="btn btn-info login">
					<i class="icon-github"></i>
					<span>Sign in with GitHub</span>
				</a>
			</div>
			<% } %>
		</div>

		<ul class="nav nav-tabs">
			<li class="active">
				<a class="tab" href="#supporting">
					Supporting
				</a>
			</li>
			<% if (projects.length) { %>
			<li>
				<a class="tab" href="#maintaining">
					Maintaining
				</a>
			</li>
			<% } %>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="supporting">
				<% if (!support.length) { %>
				<h4 class="text-center">This organization hasn't added any projects yet.</h4>
				<% } else { %>
				<div class="repos-list support-inactive">
					<div class="header">
						<div class="col repo-name"></div>
						<div class="col support-types"></div>
						<div class="col contribution-types">Click below to donate</div>
					</div>
					<% _.each(support, function(entry) { %>
					<% var project = entry.project %>
					<% project.support = _.omit(entry, 'project') %>
					<% include parts/project-row %>
					<% }) %>
				</div>
				<% } %>
			</div>
			<div class="tab-pane" id="maintaining">
				<div class="repos-list support-inactive">
					<div class="header">
						<div class="col repo-name"></div>
						<div class="col support-types"></div>
						<div class="col contribution-types">Click below to donate</div>
					</div>
					<% _.each(projects, function(entry) { %>
					<% var project = entry %>
					<% project.support = {} %>
					<% include parts/project-row %>
					<% }) %>
				</div>
			</div>
		</div>

		<% include modals/index.ejs %>
	</section>
	<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
	<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: "<%=jsPath %>"
		})
		require(['modules/account/main'])
	</script>

</div>

<% include parts/foot.ejs %>