<% titleBuilder.add(project.name) %>
<% titleBuilder.add(project.owner.username) %>

<% include parts/head.ejs %>
<section id="page-project">
	<div class="container">
		<% if (!isLoggedIn) { %>
		<div class="welcome">
			Welcome to I Love Open Source. You may make a donation by clicking below. If you sign in , you can add an I Love Open Source page to your site as well, showing which Open Source projects you use and helping to get recognition for those projects.

			<a href="/auth/github" class="btn btn-info login">
				<i class="icon-github"></i>
				<span>Sign in with GitHub</small></span>
			</a>
		</div>
		<% } %>

		<div class="repos-list">
			<div class="header">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types">Select to indicate support</div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
			</div>
			<div class="repo">
				<div class="col repo-name <%= project.homepage ? 'with-home' : '' %>">
					<a href="<%= project.url %>" class="icon-github go-to" target="_blank"></a>
					<% if (project.homepage) { %>
					<a href="<%= project.homepage %>" class="icon-home go-to" target="_blank"></a>
					<% } %>

					<% if (project.owner.user) { %>
					<a href="/users/<%=project.owner.username %>">
						<%=project.owner.username %>
					</a>
					<% } else { %>
					<%=project.owner.username %>
					<% } %>
					<span> / </span>
					<a href="/projects/<%=project._id %>">
						<%=project.name %>
					</a>

					<div class="description">
						<% if (project.description) { %>
						<%- project.description %>
						<% } %>
					</div>
				</div>

				<div class="col support-types">
					<span class="support-type donating <%= userSupport.donating ? 'active' : '' %>" data-type="donating" data-toggle="tooltip" title="I’m donating cash"></span>
					<span class="support-type contributing <%= userSupport.contributing ? 'active' : '' %>" data-type="contributing" data-toggle="tooltip" title="I’m contributing code"></span>
					<span class="support-type supporting <%= userSupport.supporting ? 'active' : '' %>" data-type="supporting" data-toggle="tooltip" title="I’m a vocal supporter"></span>
				</div>

				<div class="col donate-methods">
					<% var donateMethods = project.donateMethods; %>
					<% var projectUrl = project.url; %>
					<% var projectId = project._id; %>
					<% include parts/contributions.ejs %>
				</div>
			</div>
		</div>

		<div class="clearfix users">
			<h3>People who support this project</h3>

			<div class="col donating">
				<h4>
					<span class="support-type donating active"></span>
					Cash Donors (<span class="counter"><%= users.donators.length %></span>)
				</h4>
				<% _.each(users.donators, function(support) { %>
				<a href="/users/<%= support.user.username %>"><%= support.user.username %></a>
				<% }) %>
			</div>
			<div class="col contributing">
				<h4>
					<span class="support-type contributing active"></span>
					Code Contributors (<span class="counter"><%= users.contributors.length %></span>)
				</h4>
				<% _.each(users.contributors, function(support) { %>
				<a href="/users/<%= support.user.username %>"><%= support.user.username %></a>
				<% }) %>
			</div>
			<div class="col supporting">
				<h4>
					<span class="support-type supporting active"></span>
					Vocal Supporters (<span class="counter"><%= users.supporters.length %></span>)
				</h4>
				<% _.each(users.supporters, function(support) { %>
				<a href="/users/<%= support.user.username %>"><%= support.user.username %></a>
				<% }) %>
			</div>
		</div>
	</div>
	<% include modals/index.ejs %>
</section>
<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "<%=jsPath %>"
	})
	window.currentUserName = '<%= isLoggedIn && loggedUser.username %>'
	require(['modules/project/main'])
</script>
<% include parts/foot.ejs %>
