<% titleBuilder.add(project.name) %>
<% titleBuilder.add(project.owner.username) %>

<% include parts/head.ejs %>
<section id="page-project">
	<div class="container">
		<% if (!isLoggedIn) { %>
		<div class="welcome">
			Welcome to I Love Open Source. You may make a donation by clicking below. If you sign in , you can add an I Love Open Source page to your site as well, showing which Open Source projects you use and helping to get recognition for those projects.

			<a href="/auth/github" class="btn btn-info login">
				<i class="icon-github"></i>
				<span>Sign in with GitHub</span>
			</a>
		</div>
		<% } %>

		<div class="repos-list">
			<div class="header">
				<div class="header">
					<div class="col repo-name"></div>
					<div class="col support-types">Select to indicate support</div>
					<div class="col contribution-types">Click below to donate</div>
				</div>
			</div>
			<% project.support = userSupport %>
			<% include parts/project-row %>
		</div>

		<div class="clearfix users">
			<h3>People who support this project</h3>

			<div class="col donating">
				<h4>
					<span class="support-type donating active"></span>
					Cash Donors (<span class="counter"><%= users.donators.length %></span>)
				</h4>
				<% _.each(users.donators, function(support) { %>
				<a href="/users/<%= support.byUser.username %>"><%= support.byUser.username %></a>
				<% }) %>
			</div>
			<div class="col contributing">
				<h4>
					<span class="support-type contributing active"></span>
					Code Contributors (<span class="counter"><%= users.contributors.length %></span>)
				</h4>
				<% _.each(users.contributors, function(support) { %>
				<a href="/users/<%= support.byUser.username %>"><%= support.byUser.username %></a>
				<% }) %>
			</div>
			<div class="col supporting">
				<h4>
					<span class="support-type supporting active"></span>
					Vocal Supporters (<span class="counter"><%= users.supporters.length %></span>)
				</h4>
				<% _.each(users.supporters, function(support) { %>
				<a href="/users/<%= support.byUser.username %>"><%= support.byUser.username %></a>
				<% }) %>
			</div>
		</div>

		<% if (supporting.length) { %>
		<h3>Projects supporting by this project</h3>
		<div class="repos-list support-inactive">
			<% _.each(supporting, function(entry) { %>
			<% var project = entry.project %>
			<% project.support = _.omit(entry, 'project') %>
			<% include parts/project-row %>
			<% }) %>
		</div>
		<% } %>
	</div>
	<% include modals/index.ejs %>
</section>
<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "<%=jsPath %>"
	})
	window.currentUserName = '<%= isLoggedIn && loggedUser.username %>'
	require(['modules/project/main'])
</script>
<% include parts/foot.ejs %>
