<% titleBuilder.add(user.username) %>
<% titleBuilder.add('Repo Editor') %>
<% var forkMe = true %>

<% include parts/head.ejs %>
<div class="container">

	<section id="repos-selector">
		<div class="content-holder">
			<div class="loading">
				<i class="icon-spinner icon-spin icon-large"></i> Loading
			</div>
			<div class="support-selector"></div>
			<div class="show-help"></div>
			<div class="content"></div>
		</div>
		<div class="help layout container"></div>
	</section>

	<% include modals/index.ejs %>

	<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
	<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: "<%=jsPath %>"
		})
		window.currentUserName = '<%= loggedUser.username %>'
		window.currentUserId = '<%= loggedUser._id %>'

		require(['modules/repo-selector/main'])
	</script>
</div>

<% include parts/foot.ejs %>