<% titleBuilder.add('Settings') %>

<% include parts/head.ejs %>
<div class="container">

	<% var img = siteUrl + '/images/logo-lightbg.png' %>
	<% var link = siteUrl +'/users/' + loggedUser.username %>
	<% var alt = 'Open Source Supporter' %>

	<section id="page-settings">
		<form class="form-horizontal" role="form" method="post">

			<fieldset>
				<legend>Embed</legend>

				<div class="form-group">
					<label for="input-md" class="col-lg-2 control-label">MarkDown:</label>

					<div class="col-lg-9">
						<textarea id="input-md" class="form-control" disabled>[![Open Source Supporter](<%= img %>)](<%= link %>)</textarea>

						<p class="help-block">Copy and paste this into your Github README.md file to attract Supporters to the "I Love Open Source" movement.</p>
					</div>
				</div>

				<div class="form-group">
					<label for="input-html" class="col-lg-2 control-label">HTML:</label>

					<div class="col-lg-9">
						<textarea id="input-html" class="form-control" disabled><a href="<%= link %>"><img src="<%=img%>" alt="<%= alt %>"/></a></textarea>

						<p class="help-block">Copy and paste this into your web pages to attract Supporters to the “I Love Open Source” movement.</p>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Contact Information</legend>
				<div class="form-group">
					<label for="input-email" class="col-lg-2 control-label">Email address:</label>

					<div class="col-lg-4">
						<input type="email" name="email" class="form-control" id="input-email" placeholder="Email" data-field="email" value="<%= loggedUser.email || '' %>" required>
					</div>

					<div class="col-lg-6 saved">Saved!</div>
				</div>

				<div class="form-group">
					<label for="input-twitter" class="col-lg-2 control-label">Twitter:</label>

					<div class="col-lg-4">
						<input type="text" name="twitterName" class="form-control" id="input-twitter" placeholder="Twitter" data-field="twitterName" value="<%= loggedUser.twitterName  || '' %>">
					</div>

					<div class="col-lg-6 saved">Saved!</div>
				</div>
			</fieldset>

		</form>
	</section>

	<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
	<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: "<%=jsPath %>"
		})

		require(['modules/user-settings/main'])
	</script>
</div>

<% include parts/foot.ejs %>
